{% extends 'base.html' %}

{% block content %}


<div class="container py-4">


    <div class="p-5 mb-4 bg-light rounded-3">
      <div class="container-fluid py-5">
        <h1 class="display-5 fw-bold"><i class="bi bi-cloud-fog2-fill"></i> Additive OS</h1>
          <p class="col-md-8 fs-4">An open-source, cryptographically-secured AM data management platform enabled by <a href="https://ipfs.io">p2p content delivery</a> and <a href="https://ethereum.org">Ethereum smart contracts</a>.</p>
          <h4 class="display-7 fw-bold">Features:</h4>
          <ul>
              <li>Counterfeit protection</li>
              <li>Immutable print licensing</li>
              <li>Encrypted, scalable file transfer for CAD, process monitoring, and characterization data</li>
              <li>Ontological organization of the AM digital thread</li>
              <li>Auditable supply chain management</li>
          </ul>
        <a class="btn btn-primary btn-lg" role="button" href="/loginv2">Login</a>
        <a class="btn btn-outline-primary btn-lg" role="button" href="/signup">Sign Up</a>
      </div>
    </div>

    <footer class="pt-3 mt-4 text-muted border-top">
      &copy; 2021
    </footer>
</div>

{% endblock %}

