{% extends 'base.html' %}

{% block content %}
<div class="card my-3 col-4 mx-auto">
  <h5 class="card-header">Validation Code</h5>
  <div class="card-body">
    <form action="/validate" enctype="multipart/form-data" method="post">
        <div class="my-3 mx-5">
            <p>Please enter the code that was sent to your email address. Make sure to check your spam folder.</p>
            {% if username %}
            <input id="username" name="username" class="form-control" value={{ username }} readonly>
            {% else %}
            <input id="username" name="username" class="form-control" placeholder="user@cmu.edu">
            {% endif %}
            <label for="code" class="form-label">Reset Code</label>
            <input id="code" name="code" class="form-control" required>
        </div>
<!--        <div class="my-3 mx-5">-->
<!--&lt;!&ndash;            <input id="code_hash" name="code_hash" class="form-control" value={{ code_hash }} hidden=True>&ndash;&gt;-->
<!--&lt;!&ndash;            <input id="expiration" name="expiration" class="form-control" value={{ expiration }} hidden=True>&ndash;&gt;-->
<!--            <input id="username" name="username" class="form-control" value={{ username }} readonly>-->
<!--        </div>-->
        <button type="submit" class="btn btn-primary mx-5">Confirm</button>
    </form>
  </div>
</div>


{% endblock %}