{% extends 'base.html' %}

{% block content %}

<a href="/licenses/new" class="btn btn-primary btn-lg my-5"><i class="bi bi-file-earmark-plus"></i> New License</a>
<div>
    <h4>Active Licenses</h4>
        {% if license_list %}
        {% for i in range(license_list|length) %}
        {% set new_print_url = '/licenses/' + license_list[i]['_id']|string() + '/new_print' %}
        <div class="card mb-1">
            <h5 class="card-header">License ID: {{ license_list[i]['_id'] }}</h5>
          <div class="card-body">
              <h5>License Details</h5>
              <table class="table table-light">
                  <tr>
                      <th>Licensor</th>
                      <th>Licensee</th>
                      <th>Part Checksum</th>
                      <th>Number of Licensed Prints</th>
                      <th>Etherscan Transaction</th>
                  </tr>
                  <tr>
                      <td>{{ license_list[i]['licensed_by_email'] }}</td>
                      <td>{{ license_list[i]['licensed_to_email'] }}</td>
                      <td>{{ license_list[i]['part_hash'] }}</td>
                      <td>{{ license_list[i]['num_prints'] }}</td>
                      <td><a href={{license_list[i]['transaction_url']}} target="_blank" rel="noopener noreferrer">View <i class="bi bi-box-arrow-up-right"></i></a></td>
                  </tr>
              </table>
            {% if license_list[i]['prints'] %}
            {% set remaining_prints = license_list[i]['num_prints'] - license_list[i]['prints'] | length %}
            {% else %}
            {% set remaining_prints = license_list[i]['num_prints'] %}
            {% endif %}
            <h5>Licensed Prints ({{ remaining_prints }} license(s) remaining)</h5>
            {% if license_list[i]['prints'] %}


            <table class="table table-light">
                <tr>
                    <th>#</th>
                    <th>Timestamp</th>
                    <th>Added By</th>
                    <th>Build Report Hash</th>
                    <th>Etherscan Transaction</th>
                    <th>QR Code</th>
                </tr>
                {% for j in range(license_list[i]['prints'] | length) %}
                {% set qr_url = '/licenses/' + license_list[i]['_id']|string() + '/prints/' + j|string() + '/qr' %}
                <tr>
                    <td>{{ (j+1)|string() }}</td>
                    <td>{{ license_list[i]['prints'][j]['timestamp_str'] }}</td>
                    <td><code>{{ license_list[i]['prints'][j]['added_by'] }}</code></td>
                    <td>{{ license_list[i]['prints'][j]['report_hash'] }}</td>
                    <td><a href={{license_list[i]['prints'][j]['transaction_url']}} target="_blank" rel="noopener noreferrer">View <i class="bi bi-box-arrow-up-right"></i></a></td>
                    <td><a href={{qr_url}} target="_blank" rel="noopener noreferrer">Download <i class="bi bi-download"></i></a></td>
                </tr>
                {% endfor %}
            </table>

            {% endif %}
            <a class="btn btn-success" href={{new_print_url}}><i class="bi bi-plus-circle"></i> New Print</a>
          </div>
        </div>

        {% endfor %}
        {% endif %}
</div>

{% endblock %}