{% extends 'base.html' %}

{% block content %}
<div class="card my-3 col-4 mx-auto">
  <h5 class="card-header">Reset Password</h5>
  <div class="card-body">
    <form action="/reset_password/reset" enctype="multipart/form-data" method="post">
        <div class="my-3 mx-5">
            <label for="username" class="form-label">Email address</label>
            <input id="username" name="username" class="form-control" required>
            <p>A temporary password reset code will be sent to your email address. The code expires in 5 minutes.</p>
        </div>
        <button type="submit" class="btn btn-primary mx-5">Reset</button>
    </form>
  </div>
</div>


{% endblock %}