{% extends 'base.html' %}
{% block content %}



<div class="card my-3 col-4 mx-auto">
  <h5 class="card-header">Code Verified - Please Update Password</h5>
  <div class="card-body">
    <form action="/update_password/" enctype="multipart/form-data" method="post" class="form-signin needs-validation">
        <div class="my-3 mx-5">
            <label for="username" class="form-label">Email address</label>
            <input id="username" name="username" class="form-control" value={{ username }} readonly>
        </div>
        <div class="mb-3 mx-5">
            <label for="new_password" class="form-label">New Password</label>
            <input id="new_password" name="new_password" type="password" class="form-control" required>
        </div>
        <button type="submit" class="btn btn-primary mx-5">Submit</button>
    </form>
  </div>
</div>



{% endblock %}